@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;

}

img {
    width: 50%;
    height: auto;
    border-radius: 10px;

}

body {
    background-color: #eea321;

    font-size: 16px;
    line-height: 1.6;

}

.header {
    background-color: #333;

    text-align: center;
    padding: 30px;
    margin: 40px;
    border-radius: 10px;
    border-color: #ffffff;
    border-style: solid;
}

.header h1 {
    font-size: 50px;
    color: #f9a8a8;

}

.header p {
    font-size: 20px;
    color: #f6c038;
}

.header h2 {
    font-size: 50px;
    color: #5f48f2;
}

.container {
    background-color: #d3d3d2;
    color: #333;
    text-align: center;
    padding: 30px;
    margin: 40px;
    border-radius: 10px;
    border-color: #ffffff;
    border-style: solid;
}

.container h1 {
    font-size: 20px;
    color: #0c0b0b;
}

.container h2 {
    font-size: 30px;
    color: #e23535;
}


.container-2 {
    background-color: #7369fa;
    text-align: center;
    padding: 30px;
    margin: 40px;
    border-radius: 10px;
    border-color: #ffffff;
    border-style: solid;
}

.container-2 h3 {
    font-size: 20px;
    color: #0c0b0b;
}

.container-2 h2 {
    font-size: 30px;
    color: #f8b52e;
}



.container-3 {
    background-color: #f6cc43;
    color: #333;
    text-align: center;
    padding: 30px;
    margin: 40px;
    border-radius: 10px;
    border-color: #ffffff;
    border-style: solid;
}

.container-3 h2 {
    font-size: 30px;
    color: #c40e0e;
}

.container-3 h1 {
    font-size: 20px;
    color: #333;
}



.container-4 {
    background-color: #ed3443;
    color: white;
    text-align: center;
    padding: 30px;
    margin: 40px;
    border-radius: 10px;
    border-color: #ffffff;
    border-style: solid;
}

.container-4 h2 {
    font-size: 30px;
    color: #4d4c4b;
}

.container-4 h1 {
    font-size: 20px;
    color: #f8f3f3;
}
